<div data-controller="words-cloud"
     id="words_cloud_container"
     data-words-cloud-words-value="<%= words_for_cloud.to_json %>"
     class="col-5"
>
  <canvas id="words-cloud" width="800" height="800"></canvas>
</div>
