<h1>Your Listings</h1>

<div data-controller="pagination" data-pagination-target="listings">
  <div id="listings">
    <%= render @listings %>
  </div>

  <% if @listings.next_page %>
    <button
      id="pagination-button"
      data-action="click->pagination#loadMore"
      data-pagination-next-page-url="<%= listings_path(page: @listings.next_page) %>"
      class="btn btn-primary btn-block d-flex justify-content-center align-items-center">
        <span data-pagination-target="text">Load more</span>
        <span class="spinner-border spinner-border-sm me-2 ms-2 d-none" role="status" aria-hidden="true" data-pagination-target="spinner"></span>
    </button>
  <% end %>
</div>

