<h1>Your Review</h1>

<div id=<%= dom_id(@listing)%> class="row justify-content-center align-items-center" >
  <%= render partial: "listings/chart", locals: { current_year: @current_year, years: @years, reviews: @reviews, listing: @listing } %>
  <%= render partial: "listings/cloud", locals: { words_for_cloud: @words_for_cloud } %>
</div>
